$bg-white: #ffffff;
$bg-light: #F9F9F9;
$bg-grey: #DBDBDB;
$bg-dark-grey: #555555;
$bg-black: black;
$bg-lgt-black: #3D3D3D;
$bg-lgt-grey: #BBBBBB;
$bg-blue: #527CEB;
$bg-green: #00D9A6;
$bg-lgt-green: #96E15F;